25_CICD and Azure sentinel/Playbooks/deploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "PlaybookName": {
            "type": "String"
        }
    },
    "variables": {
        "AzureSentinelConnectionName": "Connection-Sentinel-Blockuserrevokesession",
        "AzureADConnectionName": "Connection-Azuread-Blockuserrevokesession",
        "AzureMonitoringLogsConnectionName": "Connection-AzureMonitoringLogs-Blockuserrevokesession"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureSentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "SentinelConnection",
                "customParameterValues": {},
                "parameterValueType": "Alternative",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                }
            }
        },

        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureADConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "AzureAdConnection",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',resourceGroup().location,'/managedApis/azuread')]"
                }
            }
        },

        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureMonitoringLogsConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "AzureMonitoringLogsConnection",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',resourceGroup().location,'/managedApis/azuremonitorlogs')]"
                }
            }
        },

        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('AzureADConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('AzureMonitoringLogsConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]"
            ],
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "EmergencyAccounts": {
                            "defaultValue": [
                                "em1@demo.at",
                                "em2@demo.at",
                                "admin@demo.acp.at"
                            ],
                            "type": "Array"
                        },
                        "Workspacename": {
                            "defaultValue": "loga-sentinel-demo",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "When_a_response_to_an_Azure_Sentinel_alert_is_triggered": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path": "/subscribe"
                            }
                        }
                    },
                    "actions": {
                        "For_each_accounts": {
                            "foreach": "@body('Get_entity_(Accounts)_from_incident')?['Accounts']",
                            "actions": {
                                "Check_if_upn_is_not_an_emergency_account": {
                                    "actions": {
                                        "Add_comment_to_incident_(user_blocked)": {
                                            "runAfter": {
                                                "Refresh_tokens_for_the_user_account": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "incidentArmId": "@body('Get_incident')?['id']",
                                                    "message": "<p><u><strong>Dear SOC Team,</strong></u><br>\n<br>\nthe playbook locked the user and revoke the session for the user with the UPN '@{outputs('define_upn')}'.<br>\n<br>\nPlease contact the AVL IT.</p>"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/Incidents/Comment"
                                            }
                                        },
                                        "Disable_the_user_account": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "accountEnabled": false
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azuread']['connectionId']"
                                                    }
                                                },
                                                "method": "patch",
                                                "path": "/v1.0/users/@{encodeURIComponent(outputs('define_upn'))}"
                                            }
                                        },
                                        "Refresh_tokens_for_the_user_account": {
                                            "runAfter": {
                                                "Disable_the_user_account": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azuread']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v1.0/users/@{encodeURIComponent(outputs('define_upn'))}/revokeSignInSessions"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Get_Emergency_account_watchlist": [
                                            "Succeeded"
                                        ]
                                    },
                                    "else": {
                                        "actions": {
                                            "Add_comment_to_incident_(user_cannot_be_blocked)": {
                                                "runAfter": {},
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "body": {
                                                        "incidentArmId": "@body('Get_incident')?['id']",
                                                        "message": "<p><u><strong>Dear SOC Team,</strong></u><br>\n<br>\nthe playbook<span style=\"color: rgb(255,255,255); background-color: rgb(184,49,47)\"> </span><span style=\"color: rgb(255,255,255); background-color: rgb(184,49,47)\"><strong>doesn't</strong></span><span style=\"color: rgb(255,255,255); background-color: rgb(184,49,47)\"> lock and revoke </span>the user session because the user with the UPN '@{outputs('define_upn')}' is defined as an emergency account.<br>\n<br>\n<strong>Please contact the AVL IT to reset the password.</strong></p>"
                                                    },
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                        }
                                                    },
                                                    "method": "post",
                                                    "path": "/Incidents/Comment"
                                                }
                                            }
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@length(body('Get_Emergency_account_watchlist')?['value'])",
                                                    0
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                },
                                "Get_Emergency_account_watchlist": {
                                    "runAfter": {
                                        "define_upn": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": "_GetWatchlist('EmergencyAccounts') \n| project EmergencyAccount\n| where  tolower(EmergencyAccount) == '@{outputs('define_upn')}'",
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/queryData",
                                        "queries": {
                                            "resourcegroups": "@triggerBody()?['WorkspaceResourceGroup']",
                                            "resourcename": "@parameters('Workspacename')",
                                            "resourcetype": "Log Analytics Workspace",
                                            "subscriptions": "@triggerBody()?['WorkspaceSubscriptionId']",
                                            "timerange": "Last hour"
                                        }
                                    }
                                },
                                "define_upn": {
                                    "runAfter": {},
                                    "type": "Compose",
                                    "inputs": "@toLower(concat(items('For_each_accounts')?['Name'],'@',items('For_each_accounts')?['UPNSuffix']))"
                                }
                            },
                            "runAfter": {
                                "Get_entity_(Accounts)_from_incident": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Get_entity_(Accounts)_from_incident": {
                            "runAfter": {
                                "Get_incident": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "@triggerBody()?['Entities']",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/entities/account"
                            }
                        },
                        "Get_incident": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/Incidents/subscriptions/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/resourceGroups/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}/workspaces/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/alerts/@{encodeURIComponent(triggerBody()?['SystemAlertId'])}"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuread": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureADConnectionName'))]",
                                "connectionName": "[variables('AzureADConnectionName')]",
                                "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',resourceGroup().location,'/managedApis/azuread')]"
                            },
                            "azuremonitorlogs": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureMonitoringLogsConnectionName'))]",
                                "connectionName": "[variables('AzureMonitoringLogsConnectionName')]",
                                "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',resourceGroup().location,'/managedApis/azuremonitorlogs')]"
                            },
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                                "connectionName": "[variables('AzureSentinelConnectionName')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                },
                                "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',resourceGroup().location,'/managedApis/azuresentinel')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}